h1 {
  color: #333366;
  text-align: center;
  font-family: Arial, sans-serif;
}

body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    padding-top: 50px;
}